.whiteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;

    border-radius: 67px;
    background-color: white(229, 86, 69);
    color: black;

    font-family: 'Montserrat';
    font-size: 16px;
    padding: 15px;

    border: 1px solid black;
}

.whiteButton img {
    height: 16px;
    width: 16px;
    margin-right: 8px; /* Добавляем отступ справа, чтобы создать промежуток между изображением и текстом */
}


.whiteButton:hover {
    background-color: lightgray;
    color: black;
}

.whiteButtonTransparency {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 67px;
}

.whiteButtonTransparency img {
    display: none;
    height: 30px;
    width: 30px;
}