.unsereGrundwerteContainer {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.unsereGrundwerteContainerTittle h1 {
    color: rgb(0, 0, 0);
    font-family: "Bebas Neue";
    font-size: 48px;
    font-weight: 300;
}

.unsereGrundwerteContainerText {
    display: flex;
    align-items: center;
    text-align: center;
    width: 547px;
    height: 47px;
}

.unsereGrundwerteContainerText p {
    font-family: 'Montserrat';
    font-size: 16px;
}

.unsereGrundwerteListCard {
    display: flex;
    gap: 40px;
}

.einStarkesContainer {
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.einStarkesContainerTitle {
    text-align: center;
    line-height: 48px;
    width: 426px;
}

.einStarkesContainerTitle h1 {
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue';
    font-size: 48px;
    font-weight: 500;
}

.einStarkesContainerText {
    display: flex;
}

.einStarkesContainerText {
    width: 547px;
}

.einStarkesContainerText p {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
}

.einStarkesContainerImages {
    width: 1300px;
    height: 601px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background-image: url("UberPage/uber.png");
}

.einStarkesContainerListCard {
    display: flex;
    gap: 10px;
    padding-bottom: 63px
}

.unsereMission {
    display: flex;
    flex-direction: column;
}

.unsereMissionRow {
    display: flex;
}


@media (min-width: 320px) and (max-width: 435px) {
    .einStarkesContainer {
        margin-top: 20px;
        gap: 10px;
    }

    .einStarkesContainerImages {
        width: 100%;
    }

    .einStarkesContainerListCard {
        flex-direction: column;
    }

    .einStarkesContainerText {
        width: 100%;
    }

    .einStarkesContainerText p {
        font-size: 14px;
    }

    .einStarkesContainerTitle {
        width: 100%;
    }

    .einStarkesContainerTitle h1 {
        font-size: 24px;
    }

    .unsereGrundwerteContainer {
        margin-top: 20px;
    }

    .unsereGrundwerteContainerTittle h1 {
        font-size: 24px;
    }

    .unsereGrundwerteContainerText {
        width: 100%;
    }

    .unsereGrundwerteContainerText p {
        font-size: 14px;
    }

    .unsereGrundwerteListCard {
        flex-direction: column;
    }
}