.offiziellerPartnerContainer {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.offiziellerPartnerContainer img {
    margin-top: 44px;
    width: 748px;
    height: 203px;
}

.offiziellerPartnerContainer_title h1 {
    color: rgb(0, 0, 0);
    font-family: "Bebas Neue";
    font-size: 48px;
    font-weight: 300;
}

.offiziellerPartnerContainer_card {
    margin-top: 104px;
    margin-bottom: 120px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 10px 27.5px 2px rgba(149, 149, 149, 0.25);
    background: rgb(255, 255, 255);
}

.offiziellerPartnerContainer_card_left {
    padding: 47px 101px;
    display: flex;
    gap: 54px;
    flex-direction: column;
}

.offiziellerPartnerContainer_card_left h2 {
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue';
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
}


.offiziellerPartnerContainer_card_left_text {
    width: 446px;
    height: 95px;
}

.offiziellerPartnerContainer_card_left_text p {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.offiziellerPartnerContainer_card_right img {
    width: 501px;
    height: 446px;
    padding-right: 96px;
    padding-bottom: 20px;
}

.offiziellerPartnerContainer_card_left_buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.offiziellerPartnerContainer_card_left_buttons:first-child {
    border-radius: 67px;
    background: rgb(229, 86, 69);
}


@media (min-width: 320px) and (max-width: 435px) {
    .warumWahlenContainer {
        margin-top: 50px;
    }

    .offiziellerPartnerContainer {
        padding: 0 20px;
    }

    .offiziellerPartnerContainer_card {
        margin-top: 44px;
        align-items: center;
        /* justify-content: space-between; */
        padding: 12px 26px;
        width: 90%;
        height: 200px;
    }

    .offiziellerPartnerContainer_card_right img {
        width: 128px;
        height: 114px;
        padding: 0;
        margin: 0;
    }

    .offiziellerPartnerContainer img {
        width: 100%;
    }

    .offiziellerPartnerContainer_card_left_title {
        width: 100%;
    }

    .offiziellerPartnerContainer_card_left_title h2 {
        font-size: 22px;
    }

    .offiziellerPartnerContainer_card_left {
        padding: 0;
        gap: 0;
    }

    .offiziellerPartnerContainer_card_left_text {
        width: 151px;
    }

    .offiziellerPartnerContainer_card_left_text p {
        font-size: 10px;
    }

    .offiziellerPartnerContainer_title h1 {
        font-size: 32px;
    }

    .offiziellerPartnerContainer_card_left_buttons {
        display: none;
        margin-top: 20px;
    }
}